
<header class="navbar navbar-fixed-top navbar-inverse">
    <nav>
      <ul class="nav navbar-nav navbar-left">
         <li style="font-size: 20px" class="<%= 'active' if current_page?('/') %>"><%= link_to "FOODIE", "/" %></li>
        <li class="<%= 'active' if current_page?(catalogs_path) %>"><%= link_to "Menu", catalogs_path %></li>
         <li class="<%= 'active' if current_page?(customers_path) %>"><%= link_to "Customers", customers_path %></li>
        <li class="<%= 'active' if current_page?(orders_path) %>"><%= link_to "Orders", orders_path %></li>
         <li class="<%= 'active' if current_page?(shipments_path) %>"><%= link_to "Shipments", shipments_path %></li>
         <li class="<%= 'active' if current_page?(payments_path) %>"><%= link_to "Payments", payments_path %></li>
      </ul>
    </nav>
</header>